.nowrap {
	white-space: nowrap;
}
.logo {
	font-size: 1rem;
}
.afterlogo {
	display: block;
    font-size: .8rem;
    font-weight: 400;
}


header.masthead h1 {
    font-size: 1.5rem;
}
@media (min-width: 992px) {
	header.masthead h1 {
	    font-size: 2rem;
	}
}
@media (min-width: 1200px) {
	header.masthead h1 {
	    font-size: 2rem;
	}
}